<app-header title="Grid Row"></app-header>

<ion-content padding fullscreen   >

  <ion-grid fixed>
    <!-- <ion-row>
      <ion-col *ngFor="let ITEM of [1,1,1,1,1,1,1,1,1,1,1,1]; let i=index" >
        {{i+1}}
      </ion-col>    
    </ion-row> -->

    <ion-row>
      <ion-col  size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
       *ngFor="let ITEM of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="/assets/shapes.svg"></ion-img>
          <ion-card-header>
            <ion-card-title>Card</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt magni illum in, ullam libero sint sunt vitae iusto, dicta laudantium sapiente? Neque quas velit iure laboriosam blanditiis ducimus eligendi cumque.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
