<app-header title="Segment"></app-header>

<ion-toolbar>
  
  <ion-segment color="tertiary"
   (ionChange)="segmentChanged($event)"
       >
    
    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>

    <ion-segment-button value="dc comics">
      <ion-label>DC Comics</ion-label>
    </ion-segment-button>

    <ion-segment-button value="marvel comics">
      <ion-label>Marvel Comics</ion-label>
    </ion-segment-button>

  </ion-segment>

</ion-toolbar>


<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let hero of ( superHeroes | async ) | filtro : busqueda : 'publisher'">
        <ion-label>
          <H3>{{hero.superhero}} <small>{{hero.alter_ego }}</small></H3>
          <p>{{hero.first_appearance}}</p>
        </ion-label>
        <ion-label slot="end" class="ion-text-right">
            {{hero.publisher}}
        </ion-label>
    </ion-item>
  </ion-list>
  
   <ion-list *ngIf="( superHeroes | async )===null">
    <ion-item *ngFor="let hero of [1,1,1,1,1]"
            class="animated flash slow infinite" >
        <ion-label>
          <H3>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </H3>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-label slot="end" class="ion-text-right">
          <ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
        </ion-label>
    </ion-item>
  </ion-list>
  


</ion-content>
