<ion-menu side="start" menuId="firstVale" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-menu-toggle *ngFor="let c of componentes|async" >
        
        <ion-item  [routerLink]="c.path" detail  >
          <ion-icon [name]="c.icon" slot="start"></ion-icon>
          <ion-label  >
            {{c.name}}
          </ion-label>
        </ion-item>


      </ion-menu-toggle>




    </ion-list>
  </ion-content>
</ion-menu>
